body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
Header {
  background-color: rgba(0, 0, 0, 0);
}
.navbar-dark {
  font-family: "Oswald", sans-serif;
  opacity: 75%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav-link:hover{
  font-size: x-large;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.videoBackground {
  position: relative;
  margin-top: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 60%;
  z-index: index -100;
}
.background {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.cardContainer {
  margin: 0;
  padding: 0;
}
.cardButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.content {
  @media screen (max-width: 758px) {
  position: absolute;
  height: 50%;
  width: 80%;
  z-index: index 3;
  top: 0;
  color: white;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 20pt;
  margin-left: 2rem;
}
@media screen (min-width: 758px) {
  position: absolute;
  height: 100%;
  max-width: 100%;
  z-index: index 3;
  top: 0;
  color: white;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 40pt;
  margin-left: 1;
  margin-top: 3rem;
}
}
.button{
  @media screen (max-width: 758px) {
  margin-left: 2rem;
  height: 50%;
  white-space: nowrap;
  }
  @media screen (min-width: 758px) {
    margin-left: 2rem;
    white-space: nowrap;
  }
}
.button:hover{
  transform: scale(1.1);
}
.gripes{
  white-space: nowrap;
  max-width: 100%;
}

.contentShows {
  position: absolute;
  -webkit-text-stroke: 1px black;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
.showsPic {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  margin-left: 0;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
}

.dates {
  margin-top: 0;
  margin-right: 0;
  height: 100%;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.datesCard {
  color: white;
  height:auto;
  width:100%;
  border-color:'#F16A74';
  border-style: solid;
  border-width: 2px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  justify-items: center;
  
}

.dateTime {
  margin-top: 0;
  margin-bottom: 0;
  border-right: 2px;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-color: #f16a74;
  border-style: groove;
  vertical-align: baseline;
}

#Shows {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-top: 0;
  color: white;
  font-family: "Oswald", sans-serif;
}
.contactBtn:hover{
  transform: scale(1.1);
}

.contentContact {
  position: absolute;
  -webkit-text-stroke: 1px black;
  width: 75%;
  height: 100%;
  z-index: 3;
  top: 0;
  display: flex;
  font-family: "Oswald", sans-serif;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin: 0;
  padding: 0;
}

.contentVent {
  position: absolute;
  -webkit-text-stroke: 1px black;
  font-family: "Oswald", sans-serif;
  top: 0;
  width: 50%;
  margin-left: 2rem;
  @media screen (max-width: 758px) {
    height: 10px;
    display: left;
  }
  @media screen(min-width: 759px) {
    height: 100%;
    align-items: flex-end;
    z-index: index 3;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    
    padding: right 0;
  }

 
}

.aboutPic {
  flex: content;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  padding-top: 0;
  padding-right: 0;
  margin-top: 0;
  margin-right: 0;
  opacity: 0.5;
}
.ventPic {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex;
  padding: right 0;
  margin: 0;
}
.overlay {
  opacity: 0.5;
}

.ventForm {
  width: 75%;
  height: 100%;
  z-index: index 1;
  margin-left: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.contactPic {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  opacity: 0.45;
  margin-left: 0;
  padding-left: 0;
}

.formBtn {
  background-color: #f16a74;
}

.formBtn:hover{
  transform: scale(1.1);
}
.comedians {
  padding-left: 0;
  margin-left: 0;
}
.contentContainer{
  position: relative;
  z-index: 2;
}
.unpack {
  color: #f16a74;
  @media screen (max-width: 758px) {
    margin-left: 0;
    font-size: 30pt;
    text-decoration: solid;
  }
 
  @media screen (min-width:758px) {
    margin-left: 0;
    font-size: 50pt;
    text-decoration: solid;
  }
}

.logo {
  height: 25%;
  width: 35%;
  z-index: 3;
  top: 0;
  color: white;
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 0;
  position: absolute;
}
.aboutTitle {
  color: white;
  -webkit-text-stroke: 1px black;
  font-family: "Oswald", sans-serif;
}
.about{
  color: white;
  font-family: "Oswald", sans-serif;
}

.vent {
  color: white;
  padding: 0;
}
.contactTitle {
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
  -webkit-text-stroke: 1px black;
}
.contentContactText{
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}

.site-footer {
  background-color: rgba(0, 0, 0, 0);
}
.btnYoutube {
  color: red;
  font-size: xx-large;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 0;
}
.btnYoutube:hover {
  color: red;
  transform: scale(1.1);
}

.btnInstagram {
  margin-bottom: 2rem;
  margin-top: 0;
  position: relative;
  color: #c13584;
  font-size: xx-large;
}
.btnInstagram:hover {
  margin-bottom: 2rem;
  color: #c13584;
  transform: scale(1.1);
}

.btnTwitter {
  color: #1da1f2;
  font-size: xx-large;
  margin-bottom: 2rem;
  margin-top: 0;
}
.btnTwitter:hover {
  margin-bottom: 2rem;
  color: #1da1f2;
  transform: scale(1.1);
}
.form-style {
  background-color: #4c4e52;
}
.row {
  width: 100%;
  padding: 0;
  margin: 0;
}
